<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Your Own Flashcards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "container">
    <h1>Single Flashcard</h1><br>

    <h3><span th:text="${flashcard.word}"></span></h3>
    <h3><span th:text="${flashcard.wordTranslation}"></span></h3><br>

    <div class="checkbox">
        <h4><label><input type="checkbox" value="">learned</label></h4>
    </div><br>

    <span th:if="${currentId != null}"><h4><a href = "#" th:href="@{'/single-flashcard/' + ${currentId}}">Next flashcard</a></h4><br></span>
    <span th:unless="${currentId != null}"><h4>Next flashcard</h4><br></span>
    <span th:if="${previousId != null}"><h4><a href = "#" th:href="@{'/single-flashcard/' + ${previousId}}">Previous flashcard</a></h4><br></span>
    <span th:unless="${previousId !=null}"><h4>Previous flashcard</h4><br></span>
    <h4><a href = "#" th:href="@{/all-flashcard-sets}">Back</a></h4><br>


</div>
</body>
</html>